$breakpoints: (xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px);

@mixin margin-padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin rounded($unit) {
    border-radius: $unit;
}

// Respond above.
@mixin respond-above($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {

        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    }

    @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin respond-below($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {

        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    }

    @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin position($position, $sides) {
    position: $position;

    @each $side in $sides {
        #{$side}: 0;
    }
}

@mixin pin-top {
    @include position(absolute, top right left);
}

@mixin pin-bottom {
    @include position(absolute, right bottom left);
}

@mixin pin-left {
    @include position(absolute, top bottom left);
}

@mixin pin-right {
    @include position(absolute, top bottom right);
}

@mixin pin-topleft {
    @include position(absolute, top left);
}

@mixin pin-bottomleft {
    @include position(absolute, bottom left);
}

@mixin pin-topright {
    @include position(absolute, top right);
}

@mixin pin-bottomright {
    @include position(absolute, bottom right);
}

@mixin fix-top {
    @include position(fixed, top right left);
}

@mixin fix-bottom {
    @include position(fixed, right bottom left);
}

@mixin fix-left {
    @include position(fixed, top bottom left);
}

@mixin fix-right {
    @include position(fixed, top bottom right);
}

@mixin fix-topleft {
    @include position(fixed, top left);
}

@mixin fix-bottomleft {
    @include position(fixed, bottom left);
}

@mixin fix-topright {
    @include position(fixed, top right);
}

@mixin fix-bottomright {
    @include position(fixed, bottom right);
}